@use "../../styles/Colors.scss" as c;

.Services {
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow-x: hidden;

  &__header {
    padding-inline: 1rem;
    padding-left: 0;
  }

  &__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.25rem;
    padding: 2rem 0.5rem;
    background-color: c.$primary;
    color: white;
    outline: 2px solid c.$white;
    outline-offset: -0.5rem;

    &__icons {
      width: 100%;
      max-width: 50ch;
      padding: 0.5rem 3rem;
      margin-inline: auto;
      display: flex;
      justify-content: center;
      position: relative;
      background-color: c.$primary;
      isolation: isolate;
      z-index: 1;

      > span {
        background-color: c.$primary;
        flex-grow: 1;
        display: flex;
        justify-content: center;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        border-top: 2px solid white;
        left: 0;
        right: 0;
        z-index: -1;
      }
    }

    > p {
      max-width: 55ch;
      text-align: center;
      padding-inline: 1rem;
    }

    > a {
      background-color: white;
      color: c.$black;
      width: max-content;
      padding: 0.5rem 1.25rem;
      margin-top: 1rem;
      border: none;
      border-radius: 0.25rem;
      font-size: 1rem;
      display: flex;
      gap: 0.25rem;
      align-items: center;
      transition: all 250ms ease-in-out;
      outline: 2px solid white;

      &:hover,
      &:focus {
        outline-offset: 2px;
      }
    }
  }
}

.Service {
  display: flex;

  &:nth-child(odd) {
    flex-direction: row-reverse;
  }

  &:nth-child(even) {
    .Service__text,
    .Service__img {
      background-color: c.$black;
      color: c.$white;
    }

    .Service__img {
      transform: translateX(-100%);
    }
  }

  &__img {
    display: flex;
    width: max-content;
    transform: translateX(100%);
    transition: all 500ms ease-in-out;

    img {
      object-fit: cover;
      object-position: center;
      display: none;
      margin: auto;

      @media (min-width: 50em) {
        display: flex;
        width: clamp(300px, 50vw, 35em);
        height: 40em;
      }
    }

    @media (min-width: 50em) {
      height: 40em;
    }
  }

  &__text {
    padding: 2rem 1rem;
    flex-grow: 1;

    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 70ch;
      margin-inline: auto;
      height: 100%;
      opacity: 0;
      transition: all 500ms ease-in-out;

      p {
        padding-block: 1rem;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-left: 1rem;
        margin-block: 2rem;

        li {
          list-style-type: disc;
          margin-left: 0.5rem;
          // TODO - Get to work with custom icon
          // list-style-image: url(../../assets/electric-icon.svg);
        }

        li::marker {
          color: c.$primary;
          font-size: 2rem;
          display: flex;
          align-items: center;
          height: 100%;
        }
      }
    }
  }
}
