@use "../../styles/Colors.scss" as c;

.Services {
  display: flex;
  flex-direction: column;

  &__header {
    padding-inline: 1rem;
    padding-left: 0;
  }

  &__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.25rem;
    padding-block: 2rem;
    background-color: c.$primary;
    color: white;
    border-top: 2px solid c.$white;
    border-bottom: 2px solid c.$white;
    outline: 2px solid c.$white;
    outline-offset: -0.5rem;
    margin-block: 0.25rem;

    > p {
      max-width: 50ch;
      text-align: center;
      padding-inline: 1rem;
    }

    > a {
      background-color: white;
      color: c.$black;
      width: max-content;
      padding: 0.5rem 1.25rem;
      border: none;
      border-radius: 0.25rem;
      font-size: 1rem;
      display: flex;
      gap: 0.25rem;
      align-items: center;
      transition: all 250ms ease-in-out;

      &:hover,
      &:focus {
        outline: 2px solid white;
        outline-offset: 2px;
      }
    }
  }
}

.Service {
  display: flex;

  &:nth-child(odd) {
    flex-direction: row-reverse;
  }

  &:nth-child(even) {
    .Service__text,
    .Service__img {
      background-color: c.$black;
      color: c.$white;
    }
  }

  &__img {
    display: flex;
    width: max-content;

    img {
      object-fit: cover;
      object-position: left;
      display: none;
      margin: auto;
      border: 5px solid c.$primary;

      @media (min-width: 50em) {
        display: flex;
        max-height: 30em;
        width: clamp(300px, 50vw, 35em);
      }
    }
  }

  &__text {
    padding: 2rem 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      padding-block: 1rem;
    }

    > * {
      max-width: 70ch;
    }
  }
}
