@use "../../styles/Colors.scss" as c;

.Landing {
  display: flex;
  align-items: center;
  background-image: url("../../assets/bg-villa-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(c.$black, 0.8);
  background-position: center;
  background-blend-mode: overlay;
  background-attachment: fixed;
  min-height: 100vh;
  padding-top: 5em;
  padding-inline: 1rem;

  &__headline {
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    padding: 2rem;
    color: c.$white;
    width: clamp(300px, 100%, 50em);
    width: fit-content;
    margin-inline: auto;
    height: max-content;
  }

  &__text {
    h1 {
      font-size: 2rem;
      max-width: 25ch;
      font-weight: 700;
      text-transform: uppercase;

      @media (min-width: 30em) {
        font-size: 2.25rem;
      }
    }

    // h1,
    // p {
    //   padding: 1rem;
    //   padding-left: 0;
    // }

    p {
      font-size: 1.125rem;
      max-width: 25ch;
      margin-right: auto;
      padding-block: 0.5rem;
    }
  }

  &__cta {
    display: flex;
    gap: 0.75rem;
    margin-block: 1rem;
    padding-block: 1rem;

    > a {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 0.5rem 1rem;
      border-radius: 0.125rem;
      min-height: 50px;
      font-size: 0.9rem;
      transition: all 250ms ease-in-out, outline 150ms ease;
      display: flex;
      gap: 0.5rem;
      background: c.$white;
      color: c.$black;

      > svg {
        display: none;
      }

      &:hover {
        box-shadow: 0 0 4px 2px black;
        outline: 2px solid c.$white;
        outline-offset: 2px;
      }

      @media (min-width: 50em) {
        padding: 0.75rem 1.25rem;
      }

      @media (min-width: 25em) {
        > svg {
          display: block;
        }
      }
    }
    .btn-primary {
      background-color: c.$primary;
      color: c.$white;
    }
  }
}
