@use "../../styles/Colors.scss" as c;

.Landing {
  display: flex;
  align-items: center;
  background-image: url("../../assets/bg-villa-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(c.$black, 0.8);
  background-position: center;
  background-blend-mode: overlay;
  background-attachment: fixed;
  min-height: 100vh;
  padding-top: 5em;
  padding-inline: 1rem;

  &__headline {
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    color: c.$white;
    width: fit-content;
    max-width: 50em;
    margin-inline: auto;
    height: max-content;
    margin-top: -20vh;
  }

  &__text {
    h1 {
      font-size: clamp(1.75rem, 8vw, 2.25rem);
      max-width: 18ch;
      font-weight: 700;
      text-transform: uppercase;
      transition: font-size 250ms ease-in;
    }

    p {
      font-size: 1.125rem;
      max-width: 25ch;
      margin-right: auto;
      padding-block: 0.5rem;
    }
  }

  &__cta {
    display: flex;
    gap: 0.75rem;
    margin-block: 1rem;
    padding-block: 1rem;

    > a {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 0.5rem 1rem;
      border-radius: 0.125rem;
      min-height: 50px;
      font-size: 0.9rem;
      transition: all 250ms ease-in-out, outline 150ms ease;
      display: flex;
      gap: 0.5rem;
      background: c.$white;
      color: c.$black;

      > svg {
        width: 0;
        visibility: hidden;
        transition: all 250ms ease-in-out;
      }

      &:hover {
        box-shadow: 0 0 4px 2px black;
        outline: 2px solid c.$white;
        outline-offset: 2px;
      }

      @media (min-width: 50em) {
        padding: 0.75rem 1.25rem;
      }

      @media (min-width: 25em) {
        > svg {
          width: 24px;
          visibility: visible;
        }
      }
    }
    .btn-primary {
      background-color: c.$primary;
      color: c.$white;
    }
  }
}
