@use "../../styles/Colors.scss" as c;

.About {
  display: flex;
  height: max-content;

  &__text {
    flex-grow: 1;
    padding: 2rem;
    margin-inline: auto;

    h2 {
      padding-right: 1rem;
    }

    p {
      padding-block: 1rem;
      max-width: 70ch;
      margin-inline: auto;
    }
  }

  &__img {
    transition: all 0.25s ease;

    img {
      object-fit: cover;
      object-position: left;
      display: none;
      max-width: 20em;
    }

    @media (min-width: 50em) {
      img {
        display: block;
        height: 100%;
      }
    }
  }

  &__vision {
    text-align: center;
    margin-block: 1rem;
    padding: 1rem;
    background-color: c.$white;
    outline: 2px solid c.$primary;
    outline-offset: -4px;

    h3 {
      text-transform: uppercase;
    }

    p {
      margin-inline: auto;
      max-width: 55ch;
    }
  }
}
