@use "../../styles/Colors.scss" as c;

.Header {
  $min-width: 30em;
  display: block;
  color: c.$white;
  position: fixed;
  width: 100vw;
  top: 0;
  transition: background-color 350ms ease-in, color 350ms ease-in;

  &-alt {
    background: c.$white;
    color: c.$black;

    .Header__menu > button {
      color: c.$black;
    }
  }

  &__wrapper {
    max-width: 50em;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
  }

  &__top {
    display: none;
    align-items: center;
    justify-content: flex-end;
    gap: 0.25rem;
    font-size: 0.75rem;
    padding-inline: 1rem;
    padding-top: 0.25rem;

    &__whatsapp {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }

    @media (min-width: 30em) {
      display: flex;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid c.$gray;
  }

  &__logo-container {
    padding: 0.5rem 1rem;
    display: grid;
    place-content: center;

    img {
      width: 50px;
      aspect-ratio: 1;
    }
  }

  &__list {
    display: none;
    list-style-type: none;
    gap: clamp(10px, 3vw, 1rem);
    text-transform: uppercase;
    padding-inline: 1rem;

    &__dropdown {
      position: relative;

      &__menu {
        height: 0;
        width: 0;
        position: absolute;
        top: 0%;
        right: 0;
        overflow: hidden;
        transition: opacity 250ms ease-in, top 350ms ease-in-out;
        background-color: c.$white;
        color: c.$black;
        opacity: 0;
      }

      > svg {
        margin-left: -0.25rem;
      }

      &:hover,
      &:focus-within {
        .Header__list__dropdown__menu {
          display: flex;
          flex-direction: column;
          height: auto;
          width: auto;
          opacity: 1;
          padding: 1rem;
          border: 2px solid c.$primary;
          border-top: none;
          border-radius: 0 0 0.25rem;
          box-shadow: 0 3px 2px 0 c.$black;
          top: 100%;

          li {
            width: 100%;
            padding: 0.5rem 2rem;
          }

          li:hover {
            background-color: c.$primary;
            color: c.$white;
          }
        }
      }
    }

    li {
      display: inline-flex;
    }

    @media (min-width: $min-width) {
      display: flex;
    }
  }

  &__menu {
    button {
      border: 0;
      border-radius: 0.25rem;
      display: grid;
      place-content: center;
      background-color: transparent;
      color: c.$white;
      aspect-ratio: 1;
      min-width: 35px;
      padding-right: 0.5rem;

      > svg {
        min-height: 35px;
        min-width: 35px;
      }
    }

    @media (min-width: $min-width) {
      display: none;
    }
  }
}
